
<div class="container">
 <%= render 'shared/form', obj: @user %>
<%= form_with(model: @user, local: true, class: "shadow p-3 mb-3 bg-info rounded") do |f|  %>
 <div  class="form-group row">

   <%= f.label :username, class: "col-2 col-form-label" %>
   <div class="col-10">
   <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Username of User" %>
   </div>
 </div>
 <div class="form-group row">
   <%= f.label :description, class:"col-2 col-form-label" %>
   <div class="col-10">
   <%= f.text_field :email, class: "form-control shadow rounded", placeholder: "Enter your email adress" %>
   </div>
   </div>
 <div class="form-group row">
   <%= f.label :password, class:"col-2 col-form-label" %>
   <div class="col-10">
   <%= f.password_field :password,  class: "form-control shadow rounded", placeholder: "Choose a password" %>
   </div>
   </div>
  <div class="form-group row justify-content-center">
   <%= f.submit class: "btn btn-success btn-lg" %>
  </div>
<% end %>
</div>